<header class="cabecera">
	<div class="logo centrar-vertical"><%= image_tag 'pop-up-logo.png' %> </div>
	<h1></h1>
</header>
<nav class="menu">
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/espacio">El Espacio</a></li>
		<li><a href="/eventos">Eventos</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/nosotros">Sobre Nosotros</a></li>
		<li><a href="/contacto">Contacto</a></li>
	</ul>
</nav>
<section class="map">
	<%= image_tag 'planta1.jpg', :id => 'mapa', :usemap => "image-maps-2014-10-29-112803" %>
	<div class= "cajaEventos"> </div>
	<map name="image-maps-2014-10-29-112803" id="ImageMapsCom-image-maps-2014-10-29-112803">
	<area id="sala_grande" alt="" title="Sala Grande" shape="rect" coords="2,2,397,133" style="outline:none;" target="_self" class="area"   />
	<area id="sala_grupo" alt="" title="Sala Grupo" shape="rect" coords="268,135,397,397" style="outline:none;" target="_self" class="area"    />
	<area id="sala_visionado" alt="" title="Sala Visionado" shape="rect" coords="2,136,131,398" style="outline:none;" target="_self" class="area"    />
	<area id="sala_reuniones" alt="" title="Sala Reuniones" shape="rect" coords="3,402,131,530" style="outline:none;" target="_self" class="area"    />
	<area id="sala_trabajo" alt="" title="Sala Trabajo" shape="rect" coords="269,400,397,530" style="outline:none;" target="_self" class="area"    />
	<area shape="rect" coords="398,531,400,533" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
	</map>
</section>
<footer class="fin">
	<section>
		<section class="redessociales centrar-vertical3">
		<div class="redes"><a href="https://www.facebook.com/"><%= image_tag 'facebook.png' %></div></a>
			<div class="redes"><a href="https://twitter.com/">
				<%= image_tag 'twitter_bird.png' %></div></a>
			<div class="redes"><a href="https://plus.google.com/"><%= image_tag 'google_plus.png' %></div></a>
			<div class="redes"><a href="https://www.youtube.com/"><%= image_tag 'youtube.png' %></div></a>
			<div class="redes"><a href=""><%= image_tag 'rss.png' %></div></a>
	</section>
	<section>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/espacio">El Espacio</a></li>
			<li><a href="/eventos">Eventos</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/nosotros">Sobre Nosotros</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</section>
</footer>
