<header class="cabecera">
		<div class="logo centrar-vertical"><%= image_tag 'pop-up-logo.png' %> </div>
		<h1></h1>
	</header>
	<nav class="menu">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/espacio">El Espacio</a></li>
			<li><a href="/eventos">Eventos</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/nosotros">Sobre Nosotros</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>
	<section id="eventos">
		<div id="fotoevento">
			<%= image_tag '1.jpg' %>
		</div>
		<div id="calendario">
			<div id="calendar">
			    <div id="month">Octubre</div>
			    <div id="year">2014</div>
			    <ul id="week">
			      <li>L</li>
			      <li>M</li>
			      <li>X</li>
			      <li>J</li>
			      <li>V</li>
			      <li>S</li>
			      <li>D</li>
			    </ul>
				<ol id="days" class="start-3">
			      <li id="today">1</li>
			      <li>2</li>
			      <li>3</li>
			      <li>4</li>
			      <li>5</li>
			      <li>6</li>
			      <li>7</li>
			      <li>8</li>
			      <li>9</li>
			      <li>10</li>
			      <li>11</li>
			      <li>12</li>
			      <li>13</li>
			      <li>14</li>
			      <li>15</li>
			      <li>16</li>
			      <li>17</li>
			      <li>18</li>
			      <li>19</li>
			      <li>20</li>
			      <li>21</li>
			      <li>22</li>
			      <li>23</li>
			      <li>24</li>
			      <li>25</li>
			      <li>26</li>
			      <li>27</li>
			      <li>28</li>
			      <li>29</li>
			      <li>30</li>
			      <li>31</li>
			    </ol>
			</div>
		</div>
		<div id="bottomcalendario"></div>
	</section>
	<section class="intermedia">
		<div class="mask">
			<ul class="images">
				<li id="img1"><%= image_tag '1.jpg' %></li>
				<li id="img2"><%= image_tag '2.jpg' %></li>
				<li id="img3"><%= image_tag '3.jpg' %></li>
				<li id="img4"><%= image_tag '4.jpg' %></li>
				<li id="img5"><%= image_tag '5.jpg' %></li>
				<li id="img6"><%= image_tag '6.jpg' %></li>
			</ul>
		</div>
	</section>
	<section class="marcas">
			<div id= "list">
				<ul>
					<li class="brand">Mr. Boho</li>
					<li class="brand">Carmina</li>
					<li class="brand">Gant</li>
					<li class="brand">And Other Stories</li>
					<li class="brand">Laguna B</li>
				</ul>
			</div>
			<div class="brand_image">
				<%= image_tag 'boho.jpeg', :id => 'img_1'%>
				<%= image_tag 'carmina.jpeg', :id => 'img_2'%>
				<%= image_tag 'gant.jpeg', :id => 'img_3'%>
				<%= image_tag 'other.jpeg', :id => 'img_4'%>
				<%= image_tag 'lagunab.jpeg', :id => 'img_5'%>
			</div>
	</section>
	<footer class="fin">
		<section class="redessociales centrar-vertical2">
			<div class="redes"><a href="https://www.facebook.com/"><%= image_tag 'facebook.png' %></div></a>
			<div class="redes"><a href="https://twitter.com/">
				<%= image_tag 'twitter_bird.png' %></div></a>
			<div class="redes"><a href="https://plus.google.com/"><%= image_tag 'google_plus.png' %></div></a>
			<div class="redes"><a href="https://www.youtube.com/"><%= image_tag 'youtube.png' %></div></a>
			<div class="redes"><a href=""><%= image_tag 'rss.png' %></div></a>
		</section>
		<section>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/espacio">El Espacio</a></li>
			<li><a href="/eventos">Eventos</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/nosotros">Sobre Nosotros</a></li>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
		</section>
	</footer>